$color-bg-yellow: #f1d72a;
$color-bg-brown: #24231f;
$color-text-light:#ffffff;
$color-bg-light-gray: #F5F5F5;

* {
  margin: 0; 
  padding: 0;
	box-sizing: border-box;
  // font-family: 'Roboto';
}

html {
  background-color: $color-bg-light-gray;
}

a {
  color: $color-bg-brown;
}

h1, h2, p, li {
  font-family: 'Roboto';
}

p, li {
  font-size: 14px;
}

li {
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: $color-text-light;
  // border: 1px solid $color-bg-brown;
}

header {
  padding-top: 30px;
   
  .overheader {
    width: 250px;
    height: 50px; 
    background-color:#f1d72a;
    // margin-top: 30px;
    margin-left: 40px;
  }

  .header-box {
    display: flex;
    background-color: $color-bg-brown;
    padding-left: 40px;
    color: $color-text-light;


    .header-photo {
      width: 250px;
      height: 250px;
      z-index: 1;
    }
    
    .title-about {
      padding: 20px 40px;

      .title {
        font: 40px 'Arial';
      }

      .about {
        margin-top: 20px;

        p {
          margin-top: 5px;
        }
        
      }
      
    }
  }

}


main {
  padding-left: 40px;
  display: flex;
  // margin-bottom: 30px;

  .info-aside {
    width: 250px;
    background-color: #f1d72a;
    padding-left: 20px;
    padding-top: 20px;

    .contacts {

      h2 {
        margin-left: 20px;
      }

      li {
        list-style-type: none;
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-top: 5px;

        span {
          margin-left: 10px;
          font-weight: 300;
          font-size: 14px;
        }
      }
      
    }

    .skills {
      margin-top: 20px;

      h2 {
        margin-left: 20px;
      }
      
      li {
        margin-left: 20px;
        font-weight: 300;
      }
    }
  }

 
  

  .info {
    width: 510px;
    padding: 20px 40px;

    h2 {
      margin-bottom: 5px;
    }

    .education li li {

      margin-left: 20px;
      
    }

    .experience {
      

      h2 {
        margin-top: 20px;
      }

      li {
        margin-left: 20px;
      }
      
    
    }

    .info-english {
      h2 {
        margin-top: 20px;
      }
      p {
        font-weight: 300;
      }


    }

    .info-code {
      h2 {
        margin-top: 20px;
      }

      pre {
        background-color: 	#F5F5F5;
      }
    }
  }
}

footer {
  margin-left: 40px;
  display: flex;
  

  .footer-aside {
    background-color: $color-bg-yellow;
    width: 250px;
  }

  .footer-nav {
    display: flex;
    width: 510px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
  }
}


