

* {
  margin: 0; 
  padding: 0;
	box-sizing: border-box;
}

body {
  width: 800px;
  margin: 0 auto;
}

.overheader {
  width: 250px;
  height: 50px; 
  background-color:#f1d72a;
  margin-top: 30px;
  margin-left: 40px;
}

.title {
  display: flex;
  background-color: rgb(36, 34, 30);
  padding-left: 40px;
}

.photo {
  width: 250px;
  height: 250px;
  background-color: aqua;
  z-index: 1;
}

.title-name {
  font: 40px Arial;
  color: white;
  padding-left: 30px;
  align-self: center;
}

main {
  padding-left: 40px;
  display: flex;
}

.contacts {
  width: 250px;
  background-color: #f1d72a;
}

.info {
  width: 510px;
  padding: 20px;
}